huggingface-hub[cli]
openai
python-dotenv
transformers
loguru
ray[default]
tqdm
pandas
easydict
backoff
httpx[socks]
rank-bm25
hydra-core
sexpdata
pylspclient
pampy
jsonlines
dataclasses-json
parglare
protobuf
tiktoken
accelerate
blobfile
sentencepiece
datasets
vllm